@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One";
}
body {
  height: 100vh;
  background: linear-gradient(#ffffff 50%, #f3f3f3 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  font-family: Securar One;
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 6px 6px 8px rgba(26, 24, 24, 0.25);
  align-items: center;
  border-color: black;
  position: relative;
}
.container img{
  margin-left: 500px;
  width: 600px;
  height: 600px;
  left: 20%;
  top: 20%;
}
.container .pinfos{
  
  background-color: aqua;
  width: 600px;
  height: 400px;
  
}
.container .estabelecimento {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  
}
.container .usuario {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  display: flex;
}
.container .senha {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  display: flex;
}
.container .pinfos .codesta{
margin: 20px;
padding-left: 50px;
}
.container .pinfos .usu{
margin: 20px;
padding-left: 50px;
}
.container .pinfos .password{
margin: 20px;
padding-left: 50px;
}