*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62, 5%;
}

.fundo {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container1 {
  background-color: rgb(254, 106, 0);
  width: 30%;
  height: 900px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 6px 8px rgba(0, 0, 0, 0.25);
}

.container2 {
  background-color: rgb(6, 6, 155);
  width: 60%;
  height: 900px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 6px 8px rgba(0, 0, 0, 0.25);
}
.infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.estabelecimento {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: block;
  transition: all 0.3s;
  border-radius: 0;
  height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: solid ;
  font-size: 20px;
  
}
.label_estabelecimento {
  font-family: "Roboto", sans-serif;
  font-size: 20;
  color: #ffffff;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  
}
.estabelecimento:placeholder-shown + .label_estabelecimento {
  font-family: "Roboto", sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
  display: block;
}

.usuario {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: block;
  transition: all 0.3s;
  border-radius: 0.2rem;
  height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: solid ;
  font-size: 20px;
}
.label_usuario {
  font-family: "Roboto", sans-serif;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: rgb(255, 255, 255);
}
.usuario:placeholder-shown + .label_usuario {
  font-family: "Roboto", sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
  display: block;
}

.senha {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: block;
  transition: all 0.3s;
  border-radius: 0.2rem;
  height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: solid ;
  font-size: 20px;
}
.label_senha {
  font-family: "Roboto", sans-serif;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: rgb(255, 255, 255);
}
.senha:placeholder-shown + .label_senha {
  font-family: "Roboto", sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
  display: block;
}
.logar{
  background-color: rgb(255, 255, 255);
  width: 290px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 6px 6px 4px rgba(221, 212, 212, 0.25);
}
